.container {
    width: 100%;
    margin-top: 20px;
}
.helpertext {
    color: #101828;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    padding-left: 24px;
    padding-right: 24px;
}
.subHelpertext {
    color: #475467;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
}
.line {
    background-color: #EAECF0;
    height: 1px;
    align-self: stretch;
}
.searchSection {
    padding-left: 24px;
    padding-right: 24px;
}
.selectAll {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #475467;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #F9FAFB;
    padding-left: 24px;
    padding-right: 24px;
}
.selectTextGroup {
    display: flex;
    align-items: center;
}
.checkbox {
    width: 18px;
    height: 18px;
    border-radius: 6px;
    border: 1px solid #D0D5DD;
    margin-right: 12px;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
}
.checkbox:checked {
    appearance: auto;
    clip-path: inset(0 0 0 0 round 6px);
    background-color: blue;
}
.structureList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #101828;
    font-size: 14px;
    font-style: normal;
    font-weight:400;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
}
.select {
    display: flex;
    align-items: center;
}
.expandCollapse {
    color: #10537F;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    text-decoration-line: underline;
    margin-left: 12px;
    cursor: pointer;
}
.structureName {
    color: #101828);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}
.accessType {
    display: flex;
    padding: 2px 6px;
    align-items: center;
    border-radius: 16px;
    background: #EDF6FD;
    font-size: 12px;
    color: #10537F;
    margin-left: 8px;
}
.list {
    max-height: 190px;
    overflow: scroll;
    min-height: 150px;
}
.childList {
    width: 90%;
    margin: 0 auto;
}
.entityName {
    color: #475467;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
}